/* inputs initial
-----------------------------------------------*/
input,
label,
select,
button,
textarea{
    margin:0; 
    border:0; 
    padding:0; 
    display:inline-block; 
    vertical-align:middle; 
    white-space:normal; 
    background:none;
    line-height:1;
    font-size:rem(14);
    font-family: 'Noto Sans KR', sans-serif;
}

input:focus,
textarea:focus{
    outline:0;
}

input,
textarea,
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select{
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}

select[multiple]{ 
    vertical-align:top;
} 

::-webkit-file-upload-button{ 
    padding:0; 
    border:0;
    background:none;
}

textarea{
    resize:none;
}

/* Search Input
-----------------------------------------------*/
input[type=search]{
    -webkit-appearance:textfield; 
    -webkit-box-sizing:content-box;
}

::-webkit-search-decoration{ 
    display:none;
}


/* input
-----------------------------------------------*/
input{
    background-repeat: no-repeat; 
    background-position: right 1rem center; 
    background-size: 0.75rem;
}

input[type=text],
input[type=password],
input[type=data], 
input[type=detetime], 
input[type=datetime-local],
input[type=email],
input[type=mouth],
input[type=number],
input[type=range],
input[type=search],
input[type=tel],
input[type=time],
input[type=week]{
    @extend %formStyles;
    display:block; 
}

/* Buttons
-----------------------------------------------*/
button,
input[type="reset"],
input[type="button"],
input[type="submit"]{
    overflow:visible; 
}

