@charset "UTF-8";

@import 
    './helpers/_veriables.scss',
    './helpers/_extends.scss',
    './helpers/_mixins.scss',
    './helpers/_functions.scss';

.nonpay-intro-article {
  padding: 4.5em 10px 0;
  .nonpay-intro {
    border: 1px dashed #cececa;
    padding: 50px 10px;
    text-align: center;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
  }
  .text-area {
    margin-bottom: 40px;
  }
  .text-area .text {
    line-height: 1.5;
    font-size: 0.8em;
  }
  .nonpay-search {
    overflow: hidden;
    max-width: 730px;
    margin: 0 auto;
    select {
      display: block;
      float: left;
      width: 28%;
      height: 47px;
      padding: 0 20px;
      border: 1px solid #cdcdcd;
      background: url("/assets/nonpay_img/search_arrow.png") no-repeat 92% center;
      vertical-align: top;
      font-size: 16px;
      & + input {
        width: 54%;
        margin-left: 2%;
      }
      & + a,
      & + button {
        width: 14%;
        margin-left: 2%;
      }
    }
    input {
      display: block;
      float: left;
      width: 78%;
      height: 47px;
      padding: 0 20px;
      border: 1px solid #cdcdcd;
      vertical-align: top;
      font-size: 16px;
    }
    a,
    button {
      display: block;
      float: left;
      width: 18%;
      height: 47px;
      line-height: 47px;
      margin-left: 2%;
      vertical-align: top;
      background: $color-main;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
    }
  }
}

.nonpay-data-article {
  padding: 4em 10px 8.5em;
}

.nonpay-tab {
  margin-bottom: 3em;
  .tab {
    overflow: hidden;
    border-top: 1px solid #cdcdcd;
    border-left: 1px solid #cdcdcd;
    
    li {
      border-right: 1px solid #cdcdcd;
      border-bottom: 1px solid #cdcdcd;
      box-sizing:border-box;
      &:first-child:nth-last-child(2),
      &:first-child:nth-last-child(2) ~ li {
        @include column(2, 0, 0);
      }
      &:first-child:nth-last-child(3),
      &:first-child:nth-last-child(3) ~ li {
        @include column(3, 0, 0);
      }
      &:first-child:nth-last-child(n+4),
      &:first-child:nth-last-child(n+4) ~ li {
        @include column(4, 0, 0);
      }
      &.active a {
        background: $color-main;
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
    a {
      display: block;
      position: relative;
      height: 3.4em;
      line-height: 1.3;
      font-size: 0.9em;
      transition: color 0.3s;
      &:hover {
        color: $color-main;
      }
    }
    .text {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      -moz-transform:translateY(-50%);
      -webkit-transform:translateY(-50%);
      -o-transform:translateY(-50%);
      transform:translateY(-50%);
      text-align: center;
    }
  }
}

.nonpay-table {
  border-top: 2px solid $color-main;
  table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
    vertical-align: middle;
    border-collapse: collapse;
  }
  thead {
    th {
      line-height: 1.2;
      padding: 0.3rem;
      border: 1px solid #cdcdcd;
      background: #f4f6f6;
      font-size: 0.8em;
      font-weight: 500;
      color: #222;
      vertical-align: middle;
    }
    tr:first-child th {
      height: 2.5rem;
      border-top: none;
      &:first-child {
        border-left: none;
      }
      &:last-child {
        border-right: none;
      }
    }
    tr:nth-child(2) th {
      height: 3rem;
    }
  }
  tbody th,
  tbody td {
    height: 2.6rem;
    padding: 0.3rem;
    border: 1px solid #cdcdcd;
    line-height: 1.5;
    font-size: 0.8em;
    vertical-align: middle;
    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }
  tbody th {
    background: #f4f6f6;
    font-weight: 300;
  }
  .bd-left-none {
    border-left: none !important;
  }
}

/* Pagenation */
.nonpay-pagenation {
  margin-top: 3em;
  .pg {
    display: block;
    text-align: center;
    font-size: 0;
  }
  .pg_page,
  .pg_current {
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    line-height: calc(1.8rem - 2px);
    margin: 0 4px;
    vertical-align: text-top;
    font-size: 0.8rem;
    border: 1px solid #e0e0e0;
    border-radius: 50%;
    transition: .25s;
  }
  .pg_page:hover {
    background-color: $color-main;
    border-color: $color-main;
    color: #fff;
  }
  .pg_current {
    background-color: $color-main;
    color: #fff !important;
  }
  .fa {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 992px) {
  .nonpay-intro-article {
    padding: 3em 10px 0;
  }

  .nonpay-data-article {
    padding: 2.5em 10px 4.5em;
  }

  .nonpay-tab {
    margin-bottom: 1.5em;
  }
}


@media only screen and (max-width: 768px) {
  .nonpay-tab {
    .tab {
      li {
        &:first-child:nth-last-child(n+4),
        &:first-child:nth-last-child(n+4) ~ li {
          @include column(2, 0, 0, -1);
        }
      }
      a {
        height: 2.9em;
      }
    }
    .text {
      font-size: 0.9em;
    }
  }

  .nonpay-table-area {
    overflow-x: auto;
  }
  .nonpay-table {
    min-width: 768px;
  }
}