#mv{
    position: relative;
    left: 50%;
    width: 1920px;
    margin-left: -960px;
}
#mv .mv-area{
    position: relative;
}
#mv .mv-area .bg-area{}
#mv .mv-area .bg-area .bg-wrap{}
#mv .mv-area .bg-area .bg-wrap .bg{
    height: 0;
    padding-bottom: 39.21875%;
    text-indent: -9999px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
#mv .mv-area .content-text-area{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
#mv .mv-area .content-text-area .text-area{}
#mv .mv-area .content-text-area .text-area .text-wrap{}
#mv .mv-area .content-text-area .text-area .text-wrap .img{
    text-align: center;
    padding: 0 10px;
}
#mv .mv-area .content-text-area .text-area .text-wrap .img img{}

.m1{
    padding: 68px 0 50px;
    border-bottom: 1px solid #d0d0d0;
}
.m1 .area{}
.m1 .area .left{
    float: left;
    width: 68%;
}
.m1 .area .right{
    float: left;
    width: 32%;
}
.m1 .area .inner-left{
    float: left;
    width: 42%;
}
.m1 .area .inner-right{
    float: left;
    width: 58%;
}
.m1 .area .radius-title-area{
    position: absolute;
    left: 0;
    top: 0;
    width: 86px;
    height: 86px;
    background-color: #1f2d4a;
    border-radius: 50%;
    color: #fff;
}
.m1 .area .radius-title-area.blue{
    left: 40px;
}
.m1 .area .radius-title-area .title-wrap{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -15px;
}
.m1 .area .radius-title-area .title-con{}
.m1 .area .radius-title-area .title{
    line-height: 30px;
    font-weight: 700;
}
.m1 .area .info-area{
    position: relative;
    padding-left: 100px;
    padding-top: 10px;
}
.m1 .area .info-area .text-area{}
.m1 .area .info-area .text-area .tel-wrap{
    display: flex;
    align-items: center;
}
.m1 .area .info-area .text-area .tel-wrap .title{
    margin-right: 15px;
    font-weight: 700;
}
.m1 .area .info-area .text-area .tel-wrap .tel{
    color: #273e6c;
    font-weight: 800;
}
.m1 .area .info-area .text-area .tel-wrap .tel a{
    transition: .25s;
}
.m1 .area .info-area .text-area .tel-wrap .tel a:hover{
    color: #333;
}
.m1 .area .info-area .addr-wrap{
    margin: 10px 0 0;
}
.m1 .area .info-area .addr-wrap .addr{
    line-height: 1.4;
    color: #333;
    font-weight: 400;
}
.m1 .area .cs-area{
    position: relative;
    padding-left: 20px;
    overflow: hidden;
}
.m1 .area .cs-area::before,
.m1 .area .cs-area::after{
    content: '';
    position: absolute;
    top: 50%;
    display: block;
    width: 1px;
    height: 80px;
    margin-top: -40px;
    background-color: #dcdcdc;
}
.m1 .area .cs-area::before{
    left: 0;
}
.m1 .area .cs-area::after{
    right: 0;
}
.m1 .area .cs-area .cs-left{
    float: left;
    width: 45%;
}
.m1 .area .cs-area .cs-right{
    float: left;
    width: 55%;
}
.m1 .area .cs-area .list-wrap{}
.m1 .area .cs-area .list-con{}
.m1 .area .cs-area .list-inner{}
.m1 .area .cs-area .text-wrap{}
.m1 .area .cs-area .text-wrap .text{
    color: #333;
    font-weight: 300;
    line-height: 1.8;
}
.m1 .area .cs-area .text-wrap .text strong{
    font-weight: 700;
}
.m1 .area .form-area{
    position: relative;
    padding-left: 140px;
}
.m1 .area .form-area .form-wrap{}
.m1 .area .form-area .form-con{
    position: relative;
    padding-right: 140px;
}
.m1 .area .form-area .input-list-area{}
.m1 .area .form-area .input-list-area .list-wrap{}
.m1 .area .form-area .input-list-area .list-con{
    padding: 8px 0 0;
}
.m1 .area .form-area .input-list-area .list-con:first-child{
    padding: 0;
}
.m1 .area .form-area .input-list-area .list-inner{}
.m1 .area .form-area .input-list-area .list-inner input{
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border: 0;
    background-color: #f8f8f8;
    color: #333;
    font-weight: 300;
}
.m1 .area .form-area .btn-area{}
.m1 .area .form-area .btn-area .btn-wrap{}
.m1 .area .form-area .btn-area .btn{
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 130px;
    height: 100%;
    background-color: #1f2d4a;
    transition: .25s;
}
.m1 .area .form-area .btn-area .btn:hover{
    background-color: #333;
}
.m1 .area .form-area .btn-area .text-wrap{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    margin-top: -15px;
    color: #fff;
}
.m1 .area .form-area .btn-area .text-wrap .text{
    font-weight: 500;
    line-height: 30px;
}
.m1 .area .form-area .agree-text-area{
    margin: 14px 0 0;
}
.m1 .area .form-area .agree-text-area .text-wrap{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.m1 .area .form-area .agree-text-area .label-wrap{}
.m1 .area .form-area .agree-text-area .label-wrap input{
    width: 14px;
    height: 14px;
    border: 0;
    background-color: #e7e8ec;
    margin-right: 3px;
}
.m1 .area .form-area .agree-text-area .label-wrap label{
    color: #132140;
    font-weight: 300;
}
.m1 .area .form-area .agree-text-area .btn-wrap{
    margin-left: 10px;
}
.m1 .area .form-area .agree-text-area .btn-wrap .btn{
    color: #132140;
    font-weight: 300;
    transition: .25s;
}
.m1 .area .form-area .agree-text-area .btn-wrap .btn:hover{
    color: #179f9f;
}
.m2{}
.m2 .area{}
.m2 .area .slide-list-area{}
.m2 .area .slide-list-area .list-wrap{
    font-size: 0;
    margin: -10px -5px 0;
}
.m2 .area .slide-list-area .list-con{
    display: inline-block;
    padding: 10px 5px 0;
    vertical-align: text-top;
}
.m2 .area .slide-list-area .list-con.wide{
    width: 59.6%;
}
.m2 .area .slide-list-area .list-con.small{
    width: 40.4%;
}
.m2 .area .slide-list-area .list-inner{}
.m2 .area .slide-list-area .slide-area{
    position: relative;
    overflow: hidden;
}
.m2 .area .slide-list-area .slide-wrap{}
.m2 .area .slide-list-area .slide-con{}
.m2 .area .slide-list-area .slide-inner{}
.m2 .area .slide-list-area .link{
    display: block;
}
.m2 .area .slide-list-area .img{}
.m2 .area .slide-list-area .img img{
    width: 100%;
}
.m2 .area .slide-list-area .swiper-pagination{
    bottom: auto;
    left: auto;
    top: 30px;
    right: 0;
    text-align: right;
    padding: 0 30px 0 0;
}
.m2 .area .slide-list-area .swiper-pagination .swiper-pagination-bullet{
    width: 19px;
    height: 19px;
    background-color: #7d7d7d;
    border-radius: 50%;
    margin-left: 14px;
    transition: .25s;
    opacity: 1;
}
.m2 .area .slide-list-area .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #1f2d4a;
}
.m-title-area{
    text-align: center;
    color: #282828;
}
.m-title-area .title-area{}
.m-title-area .title-area .title-wrap{}
.m-title-area .title-area .title-wrap .en-title{
    margin: 0 0 30px;
    font-weight: 400;
    color: #929292;
}
.m-title-area .title-area .title-wrap .title{}
.m-title-area .title-area .title-wrap .title strong{}
.m-title-area .text-area{
    margin: 25px 0 0;
}
.m-title-area .text-area .text-wrap{}
.m-title-area .text-area .text-wrap .text{
    font-weight: 300;
}
.m-title-area .text-area .text-wrap .text strong{
    font-weight: 500;
}
.m-title-area .btn-area{
    margin: 45px 0 0;
}
.m-title-area .btn-area .btn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-title-area .btn-area .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 230px;
    height: 44px;
    border: 2px solid #dcdcdc;
    transition: .25s;
}
.m-title-area .btn-area .btn:hover{
    border-color: #1f2d4a;
    background-color: #1f2d4a;
    color: #fff;
}
.m-title-area .btn-area .btn .text{
    margin-right: 15px;
}
.m-title-area .btn-area .btn .ico{}
.m-title-area .plus-btn-area{
    margin: 45px 0 0;
}
.m-title-area .plus-btn-area .btn-wrap{
    text-align: center;
    font-size: 0;
}
.m-title-area .plus-btn-area .btn-wrap .btn{
    position: relative;
    display: inline-block;
    width: 102px;
    height: 102px;
    background-color: #c8c8c8;
    border-radius: 50%;
    transition: .25s;
}
.m-title-area .plus-btn-area .btn-wrap .btn:hover{
    background-color: #1f2d4a;
}
.m-title-area .plus-btn-area .btn-wrap .btn .ico-wrap{}
.m-title-area .plus-btn-area .btn-wrap .btn .ico-wrap .ico{
    text-indent: -9999px;
}
.m-title-area .plus-btn-area .btn-wrap .btn .ico-wrap .ico::before,
.m-title-area .plus-btn-area .btn-wrap .btn .ico-wrap .ico::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    background-color: #858585;
}
.m-title-area .plus-btn-area .btn-wrap .btn .ico-wrap .ico::before{
    width: 64px;
    height: 2px;
    margin: -1px 0 0 -32px;
}
.m-title-area .plus-btn-area .btn-wrap .btn .ico-wrap .ico::after{
    width: 2px;
    height: 64px;
    margin: -32px 0 0 -1px;
}
.m3{}
.m3 .area{}
.m3 .area .list-area{}
.m3 .area .list-area .list-wrap{
    margin: -30px -15px 0;
    font-size: 0;
}
.m3 .area .list-area .list-con{
    display: inline-block;
    width: 14.275%;
    vertical-align: text-top;
    padding: 30px 15px 0;
    text-align: center;
}
.m3 .area .list-area .list-inner{}
.m3 .area .list-area .link{
    display: block;
}
.m3 .area .list-area .thumb-area{}
.m3 .area .list-area .thumb-area .thumb-wrap{}
.m3 .area .list-area .thumb-area .thumb{}
.m3 .area .list-area .thumb-area .thumb img{}
.m3 .area .list-area .thumb-area .thumb img.over{
    display: none;
}
.m3 .area .list-area .link:hover .thumb-area .thumb img{
    display: none;
}
.m3 .area .list-area .link:hover .thumb-area .thumb img.over{
    display: inline;
}
.m3 .area .list-area .text-area{
    margin: 25px 0 0;
}
.m3 .area .list-area .text-area .text-wrap{}
.m3 .area .list-area .text-area .text{}
.m4{}
.m4 .area{}
.m4 .area .list-area{}
.m4 .area .list-area .list-wrap{
    margin: -10px -5px 0;
    text-align: center;
    font-size: 0;
}
.m4 .area .list-area .list-con{
    display: inline-block;
    width: 33.33%;
    padding: 10px 5px 0;
    vertical-align: text-top;
}
.m4 .area .list-area .list-inner{}
.m4 .area .list-area .link{
    display: block;
}
.m4 .area .list-area .thumb-area{}
.m4 .area .list-area .thumb-area .thumb-wrap{}
.m4 .area .list-area .thumb-area .thumb{
    overflow: hidden;
}
.m4 .area .list-area .thumb-area .thumb img{
    transition: .25s;-moz-transition: .25s;-webkit-transition: .25s;-o-transition: .25s;
}
.m4 .area .list-area .link:hover .thumb-area .thumb img{
    transform: scale(1.05);-moz-transform: scale(1.05);-webkit-transform: scale(1.05);-o-transform: scale(1.05);
}
.mdoc{
    position: relative;
}
.mdoc .top-title-area{
    position: absolute;
    left: 0;
    top: 12%;
    width: 100%;
    z-index: 90;
}
.mdoc .slide-area{}
.mdoc .slide-area .slide-wrap{}
.mdoc .slide-area .slide-con{
    background-color: #f7f7f7;
}
.mdoc .slide-area .slide-con:nth-child(even){
    background-color: #f3f3f3;
}
.mdoc .slide-area .slide-inner{}
.mdoc .slide-area .thumb-area{}
.mdoc .slide-area .thumb-area .thumb-wrap{}
.mdoc .slide-area .thumb-area .thumb{
    height: 0;
    padding-bottom: 253.926%;
    text-indent: -9999px;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.mdoc .slide-area .btn{
    display: block;
    padding: 35px 60px;
    background-color: #1f2d4a;
}
.mdoc .slide-area .slide-con:nth-child(even) .btn{
    background-color: #273e6c;
}
.mdoc .slide-area .content-text-area{
    position: relative;
    text-align: center;
    color: #fff;
}
.mdoc .slide-area .content-text-area .job-wrap{}
.mdoc .slide-area .content-text-area .job-wrap .job{}
.mdoc .slide-area .content-text-area .name-wrap{
    margin: 4px 0 0;
    color: #ffe118;
}
.mdoc .slide-area .content-text-area .name-wrap .name{}
.mdoc .slide-area .content-text-area .name-wrap .name span{}
.mdoc .slide-area .content-text-area .ico-wrap{
    position: absolute;
    right: 0;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
.mdoc .slide-area .content-text-area .ico-wrap .ico{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffe118;
    text-indent: -9999px;
}
.mdoc .slide-area .content-text-area .ico-wrap .ico::before,
.mdoc .slide-area .content-text-area .ico-wrap .ico::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: #1f2d4a;
}
.mdoc .slide-area .content-text-area .ico-wrap .ico::before{
    width: 12px;
    height: 2px;
    margin: -1px 0 0 -6px;
}
.mdoc .slide-area .content-text-area .ico-wrap .ico::after{
    width: 2px;
    height: 12px;
    margin: -6px 0 0 -1px;
}
.m5{}
.m5 .area{}
.m5 .area .top-title-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
}
.m5 .area .top-title-area .title-area{}
.m5 .area .top-title-area .title-area .title-wrap{}
.m5 .area .top-title-area .title-area .title{}
.m5 .area .top-title-area .title-area .title strong{}
.m5 .area .top-title-area .arrow-area{
    display: flex;
    align-items: center;
}
.m5 .area .top-title-area .arrow-area .btn{}
.m5 .area .top-title-area .arrow-area .btn.prev{}
.m5 .area .top-title-area .arrow-area .btn.next{}
.m5 .area .top-title-area .arrow-area .line{
    width: 1px;
    height: 30px;
    margin: 0 15px;
    background-color: #6e778a;
    text-indent: -9999px;
}
.m5 .area .slide-area{
    position: relative;
    margin: 25px 0 0;
    overflow: hidden;
}
.m5 .area .slide-area .slide-wrap{}
.m5 .area .slide-area .slide-con{}
.m5 .area .slide-area .slide-inner{}
.m5 .area .slide-area .link{
    display: block;
    border: 1px solid #f0f0f0;
}
.m5 .area .slide-area .thumb-area{}
.m5 .area .slide-area .thumb-area .thumb-wrap{}
.m5 .area .slide-area .thumb-area .thumb{
    overflow: hidden;
}
.m5 .area .slide-area .thumb-area .thumb img{
    transition: .25s;-moz-transition: .25s;-webkit-transition: .25s;-o-transition: .25s;
}
.m5 .area .slide-area .link:hover .thumb-area .thumb img{
    transform: scale(1.05);-moz-transform: scale(1.05);-webkit-transform: scale(1.05);-o-transform: scale(1.05);
}
.m5 .area .slide-area .content-text-area{
    border-top: 1px solid #f0f0f0;
    padding: 40px 40px 40px 55px;
}
.m5 .area .slide-area .content-text-area .text-area{}
.m5 .area .slide-area .content-text-area .text-area .text-wrap{}
.m5 .area .slide-area .content-text-area .text-area .text{
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 1.4;
    height: 2.8em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.m6{
    position: relative;
    left: 50%;
    width: 1920px;
    margin-left: -960px;
}
.m6 .area{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row-reverse;
}
.m6 .area .content-text-area{
    width: 35%;
}
.m6 .area .thumb-area{
    width: 56.6145%;
}
.m6 .area .thumb-area .thumb-wrap{}
.m6 .area .thumb-area .thumb-wrap .thumb{}
.m6 .area .thumb-area .thumb-wrap .thumb img{}
.m7{}
.m7 .area{}
.m7 .grid-wrap{
    font-size: 0;
    margin: 0 -20px;
}
.m7 .grid-con{
    display: inline-block;
    width: 33.33%;
    vertical-align: middle;
    padding: 0 20px;
}
.m7 .grid-inner{}
.m7 .notice-area{}
.m7 .notice-area .notice-title-area{
    position: relative;
    margin: 0 0 20px;
}
.m7 .notice-area .notice-title-area .title-wrap{}
.m7 .notice-area .notice-title-area .title-wrap .title{}
.m7 .notice-area .notice-title-area .title-wrap .title strong{}
.m7 .notice-area .notice-title-area .btn-wrap{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
.m7 .notice-area .notice-title-area .btn-wrap .link{
    display: block;
    width: 15px;
    height: 15px;
}
.m7 .notice-area .notice-title-area .btn-wrap .ico-wrap{}
.m7 .notice-area .notice-title-area .btn-wrap .ico-wrap .ico{
    text-indent: -9999px;
}
.m7 .notice-area .notice-title-area .btn-wrap .ico-wrap .ico::before,
.m7 .notice-area .notice-title-area .btn-wrap .ico-wrap .ico::after{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    background-color: #282828;
    transform: translate(-50%, -50%);-moz-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);-o-transform: translate(-50%, -50%);
}
.m7 .notice-area .notice-title-area .btn-wrap .ico-wrap .ico::before{
    width: 15px;
    height: 1px;
}
.m7 .notice-area .notice-title-area .btn-wrap .ico-wrap .ico::after{
    width: 1px;
    height: 15px;
}
.m7 .notice-area .notice-list-area{}
.m7 .notice-area .notice-list-area .list-wrap{}
.m7 .notice-area .notice-list-area .list-con{
    padding: 35px 35px 20px 30px;
    border-bottom: 1px solid #eeeeee;
}
.m7 .notice-area .notice-list-area .list-con:last-child{
    border-bottom-width: 0;
}
.m7 .notice-area .notice-list-area .list-inner{}
.m7 .notice-area .notice-list-area .link{
    position: relative;
    display: block;
    padding: 0 70px 0 0;
}
.m7 .notice-area .notice-list-area.notice-counsel .link{
    padding-left: 70px;
}
.m7 .notice-area .notice-list-area .text-area{}
.m7 .notice-area .notice-list-area .text-area .subject-wrap{}
.m7 .notice-area .notice-list-area .text-area .subject-wrap .subject{
    color: #6f6f6f;
    font-weight: 300;
    width: 100%;
    height: 26px;
    line-height: 26px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.m7 .notice-area .notice-list-area .text-area .date-wrap{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);-o-transform: translateY(-50%);
}
.m7 .notice-area .notice-list-area .text-area .date-wrap .date{
    color: #6f6f6f;
    font-weight: 300;
    white-space: nowrap;
}
.m7 .menu-list-area{
    position: relative;
}
.m7 .menu-list-area::before,
.m7 .menu-list-area::after{
    content: '';
    position: absolute;
    display: block;
    background-color: #dcdcdc;
}
.m7 .menu-list-area::before{
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}
.m7 .menu-list-area::after{
    left: 50%;
    top: 0;
    width: 1px;
    height: 100%;
}
.m7 .menu-list-area .list-wrap{
    font-size: 0;
    margin: -30px 0;
}
.m7 .menu-list-area .list-con{
    display: inline-block;
    width: 50%;
    padding: 30px 0;
    vertical-align: text-top;
    text-align: center;
}
.m7 .menu-list-area .list-inner{}
.m7 .menu-list-area .link{
    display: block;
}
.m7 .menu-list-area .ico-area{}
.m7 .menu-list-area .ico-area .ico-wrap{}
.m7 .menu-list-area .ico-area .ico{}
.m7 .menu-list-area .ico-area .ico img{}
.m7 .menu-list-area .text-area{
    margin: 12px 0 0;
}
.m7 .menu-list-area .text-area .text-wrap{}
.m7 .menu-list-area .text-area .text-wrap .title{}
.m8{
    padding: 160px 0 120px;
    background: url('../img/m8-bg.jpg') 50% 50% no-repeat;
    background-size: cover;
}

@media all and (max-width: 1620px){
    #mv{
        left: 0;
        width: 100%;
        margin-left: 0;
    }
    .m1{
        padding: 40px 0;
    }
    .m1 .area .left{
        width: 55%;
    }
    .m1 .area .right{
        width: 45%;
    }
    .m1 .area .inner-left{
        width: 50%;
    }
    .m1 .area .inner-right{
        width: 50%;
    }
    .m1 .area .radius-title-area{
        width: 70px;
        height: 70px;
    }
    .m1 .area .radius-title-area.blue{
        left: 10px;
    }
    .m1 .area .info-area{
        padding-left: 90px;
    }
    .m1 .area .info-area .text-area .tel-wrap .title{
        margin-right: 10px;
    }
    .m1 .area .info-area .addr-wrap{
        margin: 8px 0 0;
    }
    .m1 .area .cs-area{
        padding-left: 10px;
    }
    .m1 .area .cs-area .text-wrap .text{
        font-size: 12px;
    }
    .m1 .area .form-area{
        position: relative;
        padding-left: 90px;
    }
    .m1 .area .form-area .form-con{
        padding-right: 160px;
    }
    .m1 .area .form-area .btn-area .btn{
        width: 150px;
    }
    .m1 .area .form-area .agree-text-area{
        margin: 10px 0 0;
    }
    .mdoc .top-title-area{
        top: 8%;
    }
    .mdoc .slide-area .btn{
        padding: 25px 20px;
    }
    .mdoc .slide-area .content-text-area .ico-wrap .ico{
        width: 30px;
        height: 30px;
    }
    .m6{
        left: 0;
        width: 100%;
        margin-left: 0;
    }
    .m6 .area .content-text-area{
        width: 40%;
    }
    .m6 .area .thumb-area{
        width: 60%;
    }
    .m6 .area .thumb-area .thumb-wrap .thumb img{
        width: 100%;
    }
}

@media all and (max-width: 1220px){
    .m1 .area{
        max-width: 600px;
        margin: 0 auto;
        text-align: center;
    }
    .m1 .area .left{
        width: 100%;
    }
    .m1 .area .right{
        width: 100%;
    }
    .m1 .area .inner-left{
        width: 100%;
    }
    .m1 .area .inner-right{
        width: 100%;
    }
    .m1 .area .radius-title-area{
        position: relative;
        left: 0;
        margin: 0 auto 10px;
    }
    .m1 .area .info-area{
        padding: 0;
    }
    .m1 .area .info-area .text-area{}
    .m1 .area .info-area .text-area .tel-wrap{
        justify-content: center;
    }
    .m1 .area .cs-area{
        display: inline-block;
        margin: 15px 0 0;
        padding: 15px 0;
        border-top: 1px solid #dcdcdc;
        border-bottom: 1px solid #dcdcdc;
    }
    .m1 .area .inner-right .cs-area{
        border-bottom-width: 0;
    }
    .m1 .area .cs-area::before,
    .m1 .area .cs-area::after{
        display: none;
    }
    .m1 .area .cs-area .cs-left{
        width: 100%;
    }
    .m1 .area .cs-area .cs-right{
        width: 100%;
    }
    .m1 .area .form-area{
        max-width: 380px;
        margin: 0 auto;
        padding: 20px 0 0;
    }
    .m1 .area .form-area .form-con{
        padding: 0;
    }
    .m1 .area .form-area .btn-area .btn{
        position: relative;
        width: 100%;
        height: auto;
        padding: 20px 10px;
    }
    .m1 .area .form-area .btn-area .text-wrap{
        position: relative;
        top: 0;
        margin: 0;
    }
    .m1 .area .form-area .btn-area .text-wrap .text{
        line-height: 1.4;
    }
    .m1 .area .form-area .agree-text-area .text-wrap{
        justify-content: center;
    }
    .m1 .area .form-area .agree-text-area .btn-wrap{
        margin-left: 4px;
    }
    .m3 .area .list-area .list-wrap{
        margin: -20px -10px 0;
    }
    .m3 .area .list-area .list-con{
        padding: 20px 10px 0;
    }
}

@media all and (max-width: 1024px){
    #mv .mv-area .bg-area .bg-wrap .bg{
        padding-bottom: 56.25%;
    }
    .m-title-area .title-area .title-wrap .en-title{
        margin: 0 0 15px;
    }
    .m-title-area .text-area{
        margin: 10px 0 0;
    }
    .m-title-area .btn-area{
        margin: 20px 0 0;
    }
    .m-title-area .btn-area .btn{
        width: auto;
        height: auto;
        padding: 10px 30px;
        border-width: 1px;
    }
    .m-title-area .btn-area .btn .text{
        margin-right: 10px;
    }
    .m-title-area .plus-btn-area{
        margin: 25px 0 0;
    }
    .m-title-area .plus-btn-area .btn-wrap .btn{
        width: 60px;
        height: 60px;
    }
    .m-title-area .plus-btn-area .btn-wrap .btn .ico-wrap .ico::before{
        width: 36px;
        margin: -1px 0 0 -18px;
    }
    .m-title-area .plus-btn-area .btn-wrap .btn .ico-wrap .ico::after{
        height: 36px;
        margin: -18px 0 0 -1px;
    }
    .m2 .area{
        max-width: 600px;
        margin: 0 auto;
    }
    .m2 .area .slide-list-area .list-con{
        width: 100% !important;
    }
    .m2 .area .slide-list-area .swiper-pagination{
        top: 10px;
        padding: 0 10px 0 0;
    }
    .m2 .area .slide-list-area .swiper-pagination .swiper-pagination-bullet{
        width: 10px;
        height: 10px;
        margin-left: 5px;
    }
    .m3 .area{
        max-width: 600px;
        margin: 0 auto;
    }
    .m3 .area .list-area .list-con{
        width: 50%;
    }
    .m3 .area .list-area .text-area{
        margin: 15px 0 0;
    }
    .mdoc .top-title-area{
        top: 5%;
    }
    .mdoc .slide-area .btn{
        padding: 20px 10px;
    }
    .mdoc .slide-area .thumb-area .thumb-wrap{
        padding: 80px 0 0;
    }
    .mdoc .slide-area .content-text-area .ico-wrap .ico{
        width: 20px;
        height: 20px;
    }
    .mdoc .slide-area .content-text-area .ico-wrap .ico::before{
        width: 8px;
        margin: -1px 0 0 -4px;
    }
    .mdoc .slide-area .content-text-area .ico-wrap .ico::after{
        height: 8px;
        margin: -4px 0 0 -1px;
    }
    .m5 .area .top-title-area .arrow-area .line{
        height: 24px;
        margin: 0 10px;
    }
    .m5 .area .slide-area{
        margin: 20px 0 0;
    }
    .m5 .area .slide-area .content-text-area{
        padding: 30px 20px;
    }
    .m6 .area{
        display: block;
        max-width: 600px;
        margin: 0 auto;
    }
    .m6 .area .content-text-area{
        width: 100%;
        padding: 0 10px 30px;
    }
    .m6 .area .thumb-area{
        width: 100%;
    }
    .m7 .area{
        max-width: 600px;
        margin: 0 auto;
    }
    .m7 .area::before{
        display: none;
    }
    .m7 .grid-wrap{
        margin: -30px 0;
    }
    .m7 .grid-con{
        width: 100%;
        padding: 30px 0;
    }
    .m7 .notice-area{
        padding: 0;
    }
    .m7 .notice-area .notice-title-area{
        margin: 0 0 10px;
    }
    .m7 .notice-area .notice-list-area .list-con{
        padding: 10px 5px;
    }
    .m7 .notice-area .notice-list-area .link{
        padding: 0 60px 0 0;
    }
    .m7 .notice-area .notice-list-area.notice-counsel .link{
        padding-left: 60px;
    }
    .m7 .notice-area .notice-list-area .text-area .caption-wrap .caption{
        padding: 4px 6px;
    }
    .m7 .menu-list-area .list-wrap{
        margin: -20px;
    }
    .m7 .menu-list-area .list-con{
        padding: 20px;
    }
    .m7 .menu-list-area .text-area{
        margin: 10px 0 0;
    }
    .m7 .menu-list-area .ico-area .ico img{
        max-width: 70%;
    }
    .m8{
        padding: 50px 10px;
    }

}

@media all and (max-width: 768px){
    #mv .mv-area .bg-area .bg-wrap .bg{
        padding-bottom: 75%;
    }
    .m1 .area .form-area{
        padding: 0;
    }
}